@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");

.forbidden {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: inherit;
}

.forbidden-container {
    background-image: linear-gradient(120deg, #4f0088 0%, #000000 100%);
    height: 100%;
}

.forbidden-h1 {
    font-size: 45vw;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: #ffffff26;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.07);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Montserrat", monospace;
}

.forbidden-div {
    background: rgba(0, 0, 0, 0);
    /*width: 70vw;*/
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
    margin: 0 auto;
    padding: 30px 30px 10px;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.forbidden-p {
    font-family: "Share Tech Mono", monospace;
    color: #f5f5f5;
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.2;
}

.forbidden-span {
    color: #f0c674;
}

.forbidden-i {
    color: #8abeb7;
}

.forbidden-div a {
    text-decoration: none;
}

.forbidden-b {
    color: #81a2be;
}
