.subject {
    background-image: url("/images/card.jpg");
    margin-top: 30px !important;
    box-shadow: 1px 1px 30px #bdb7b7;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    color: #fff;
    transition: 0.3s;
    height: 300px;
    /* Add a default height to the subject div */
    overflow: hidden;
    /* Hide the child div when it's not displayed */
    background-color: white;
    vertical-align: middle !important;
    padding: 10px;
    font-family: Roboto;
    text-align: center;
}

.subject:hover {
    box-shadow: 1px 1px 5px black;
    translate: 0 -10px;
    cursor: grab;
    height: 330px;
    /* Increase the height of the subject div on hover */
}

.subject:hover .remove-subject {
    display: block;
}

.subject h3 {
    font-size: 30px;
    font-weight: 500;
    height: 80px;

}

.subject p {
    font-size: x-large;
    font-weight: 500;
    height: 20px;

}

.subject h5 {
    font-weight: 500;
    height: 40px;
}

.remove-subject {
    margin-top: auto;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    display: none;
}

.remove-subject:hover {
    translate: 0 -5px;
}

.remove-subject-icon {
    height: 70%;
    margin: 10px 0;
    color: red;
}