.row .btn {
    font-family: Roboto;
    font-size: 20px;
    color: blue;
    border: none;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
}


.row .btn:hover {
    color: #fff;
    box-shadow: 0 12px 16px 0 #78b9f2, 0 17px 50px 0 #000082;
    background-image: linear-gradient(90deg, rgba(135, 241, 252, 1), rgba(127, 212, 251, 1), rgba(127, 212, 251, 1), rgba(116, 174, 250, 1), rgba(115, 169, 250, 1));

}

.input-group {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.table {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.table .table-header {
    background-color: #000082;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #fff;
    height: 60px;
    text-align: center;
    vertical-align: middle;

}

.col-1 {
    flex-basis: 10%;
}

.col-2 {
    flex-basis: 35%;
}

.col-3 {
    flex-basis: 35%;
}

.col-4 {
    flex-basis: 10%;
}

.col-5 {
    flex-basis: 10%;
}

tbody th {
    border-radius: 3px;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

tbody td {
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

}