.text {
    color: #fff;
    padding: 0px 20px;
    font-family: Roboto;
    margin-top: 10px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 40px;
}

.navbar {
    background-color: rgb(0, 0, 101);
    background-size: cover;
    background-position: center;
}

.collapse .nav-item .btn {
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    cursor: pointer; //78b9f2  008cff
    border-radius: 30px;
    height: 60px;
    padding: 0 7px;


}

.btn :hover {

    box-shadow: 0 12px 16px 0 #78b9f2, 0 17px 50px 0 #000082;

}


.collapse .nav-item .nav-link {
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    cursor: pointer;
    margin: 35px 40px;
}


.dropdown-menu {
    background: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.dropdown-item {
    font-family: Roboto;
    font-size: 18px;
    margin: 10px;
}