.progressVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 6px;
    margin: 10px 0;
}

.progressVisualPart {
    transition: width 2s;
}

.progressLabel {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}