.card-header .nav .nav-item .nav-link {
    font-family: Roboto;
    font-size: 20px;
    margin: 4px;
    padding: 6px;
    cursor: pointer;
    text-decoration: none;
    background-color: ghostwhite;



}

.card-header .nav .nav-item .nav-link:hover {
    color: darkgrey;
    font-size: 22px;
}